body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  background-image: url("../img/background-480.png");
  @media screen and (min-width: 768px) {
    background-image: url("../img/background-768.png");
  }
  @media screen and (min-width: 1280px) {
    background-image: url("../img/background-1280.png");
  }
  background-position: top;
  background-repeat: repeat-y;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
