<li>Click on country to show info</li>
{{#each countries}}
  <li>
    <button class="link" data-index="{{@index}}">
      <img class="flag" src="{{this.flags.svg}}" alt="" />
      <span class="name">{{this.name.official}}</span>
      <span class="name">{{this.ukrName}}</span>
    </button>
  </li>
{{/each}}